{% extends "baseFormRest.html" %}

{% block title %}
Editor
{% endblock %}

{% block content %}

    <div class="flex h-screen items-center justify-center m-14 ">
        <form action="" method="get" class="flex flex-col space-y-4">
            <p>
                <input type="checkbox" name="nombre" id="nombre">
                Nombre
            </p>
             <p>
                  <input type="checkbox" name="imagen" id="imagen">
                 Imagen
            </p>
             <p>
                 <input type="checkbox" name="precio" id="precio">
                 Precio
            </p>
            {% if type == 1 %}
                <p>
                 <input type="checkbox" name="descripcion" id="descripcion">
                 Descripcion
                </p>
                 <p>
                     <input type="checkbox" name="productos" id="productos">
                     Productos
                 </p>
            {% elif type == 0 %}
                <p>
                 <input type="checkbox" name="cantidad" id="cantidad">
                 Cantidad
                </p>
            {% endif %}
            <input type="submit" value="inputs" class="bg-yellow-500">
        </form>
        <form id="add" method="post" enctype="multipart/form-data" class="flex flex-col items-center  space-y-5 p-10 bg-[#FF8A80] w-2/4 rounded-xl m-10" action="">
            {% csrf_token %}
            <h1 class="mb-4 p-4 text-2xl font-bold text-center text-rose-600 bg-white/50 rounded-xl">{{text}}</h1>
                {{form}}
            <input type="submit" value="Editar" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
        </form>
    </div>
{% endblock %}