{% extends "baseFormRest.html" %}

{% block title %}
Menu adder
{% endblock %}

{% load static %}
{% block content %}
 <body class="bg-no-repeat bg-cover bg-[url({% static 'images/textura.avif' %})]">
    <div class="flex h-screen items-center justify-center m-14 ">
        <form id="add" method="post" enctype="multipart/form-data" class="flex flex-col items-center  space-y-5 p-10 bg-[#FF8A80] w-2/4 rounded-xl m-10" action=""> {% csrf_token %}
            <h1 class="mb-4 p-4 text-2xl font-bold text-center text-rose-600 bg-white/50 rounded-xl">Formulario de creación de menús</h1>
                {{form}}
            <input type="submit" value="Crear" class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-red-500 text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
        </form>
    </div>
 </body>
{% endblock %}
